//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 07 15:14:26 2021
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

